html, body {
	/* background-image: url('fabric_plaid.png'); */
	font-family: helvetica, sans-serif;
	margin: 0;
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	text-align: center;
}

/* stylesheet for home */

#home {
	.none {
		left: -9999px;
		position: absolute;
	}

	#container {
		margin: 0px;
		padding: 0px;
		position: relative;

		#main-mask {
			height: 620px;
			margin: 0 auto;
			overflow: hidden;
			width: 446px;
		}

			#main {
				background: white;
				height: 550px;
				margin: 0 auto;
				margin-top: 50px;
				width: 100%;

				/* drop shadow */
				-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
				-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
				box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
			}

			#main:before, #main:after {
				position: absolute;
				width: 40%;
				height: 10px;
				content: ' ';
				left: 12px;
				bottom: 8px;
				background: transparent;

				/* paper curls drop shadow */
				-webkit-transform: skew(-5deg) rotate(-5deg);
				-moz-transform: skew(-5deg) rotate(-5deg);
				-moz-transform: rotate(-5deg);
				-ms-transform: skew(-5deg) rotate(-5deg);
				-o-transform: skew(-5deg) rotate(-5deg);
				transform: skew(-5deg) rotate(-5deg);
				-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
				
				z-index: -1;
			}

			#main:after {
				left: auto;
				right: 12px;

				/* transform other direction */
				-webkit-transform: skew(5deg) rotate(5deg);
				-moz-transform: skew(5deg) rotate(5deg);
				-moz-transform: rotate(5deg);
				-ms-transform: skew(5deg) rotate(5deg);
				-o-transform: skew(5deg) rotate(5deg);
				transform: skew(5deg) rotate(5deg);
			}

			.notes {
				position: absolute;
				top: 208px;
			}

			#piggyback-music-notes {
				right: 110px;
			}

			#piggyback-video-notes {
				right: -30px;
			}

			.show-notes {
				height: 65px;
				position: absolute;
				left: 35px;
				top: 220px;
				width: 110px;
			}

			#music {
				left: 155px;
			}

			#video {
				left: 305px;
			}

			#interested-button {
				background: none;
				border: none;
				left: 0px;
				margin: 0 auto;
				opacity: 1;
				padding: 0;
				position: absolute;
				right: 0px;
				top: 450px;
				width: 100%;

				div.btn {
					height: 40px;
					font-size: 0.36em;
					padding: 22px 17px 0px 17px;
				}
			}

			article {
				margin: 32px;
			}

			p {
				line-height: 1.6em;
				margin-top: -20px;
				text-align: left;
			}

			form {
				margin: 0px 32px 0px 32px;
				position: absolute;
			}
			#email-input {
				color: gray;
				font-style: oblique;
				width: 190px;
			}
			#submit-email-button {
				font-size: 1.2em;
				font-weight: bold;
				margin-left: 3px;
				position: relative;
				text-shadow: 0 -1px 0px rgba(0, 0, 0, .5);
				width: 150px;

				#form-submit {
					background: transparent;
					border: transparent;
					color: transparent;
					height: 100%;
					left: 0px;
					position: absolute;
					top: 0px;
					width: 100%;
				}
			}
			#form-invalidate-comment {
				color: red;
				margin-top: 40px;
				min-height: 1.3em;
				overflow: yes;
				text-align: left;
			}

						#social-media {
							height: 50px;
							padding-top: 20px;
							overflow: hidden;

							.fb-like {
								left: 32px;
								position: absolute;
							}
							.twitter-share-button {
								position: absolute;
								right: 32px;
							}
						}

						#icon-300 {
							height: 130px;
							padding: 30px;
						}

	}

	footer {
		background: #4f4f4f;
		bottom: 0px;
		color: white;
		height: 40px;
		left: 0;
		margin: 0;
		padding: 0;
		position: fixed;
		width: 100%;

		.footer-link {
			height: 100%;
			padding: 12px;

			a {
				color: white;
				font-weight: light;
				text-decoration: none;
			}
		}

		.left {
			text-align: left;
		}

		.right {
			text-align: right;
		}
	}

	/* elements */

	.btn-text {
		text-shadow: /*0 1px 0px rgba(255, 255, 255, 0.7),*/ 0 -1px 0px rgba(0, 0, 0, .5);
		font-weight: bold;
		font-size: 0.3em;
	}
}
