<div id="onboarding">
	<section id="ob-1">
		<img src="../static/images/piggyback-cartoon-1.png">
	</section>
	<section id="ob-2">
		<img src="../static/images/piggyback-cartoon-2.png">
	</section>
	<section id="ob-3">
		<img src="../static/images/piggyback-places-notes.png" id="piggyback-places-notes" class="none notes">
		<img src="../static/images/piggyback-couch-potato.png" id="couch-potato-img" class="character-img">
		<img src="../static/images/piggyback-hipster.png" id="hipster-img" class="character-img">
		<img src="../static/images/piggyback-hopster.png" id="hopster-img" class="character-img">
		<img src="../static/images/piggyback-yuppie-banker.png" id="yuppie-banker-img" class="character-img">
		<img src="../static/images/piggyback-health-nut.png" id="health-nut-img" class="character-img">
		
		<div id="couch-potato" class="on-hover">
		</div>
		<div id="hipster" class="on-hover">
		</div>
		<div id="hopster" class="on-hover">
		</div>
		<div id="yuppie-banker" class="on-hover">
		</div>
		<div id="health-nut" class="on-hover">
		</div>

		<aside>
			<img src="../static/images/piggyback-cartoon-3-text.png">
		</aside>
	</section>
	<section id="ob-4">
		<img src="../static/images/piggyback-cartoon-3.png">
		<aside>
			<img src="../static/images/piggyback-cartoon-4-text.png">
		</aside>
	</section>
	<section id="ob-5">
		<img src="../static/images/piggyback-cartoon-5.png">
	</section>
</div>

<div id="next-button">
	Next!
</div>