<div id="onboarding">
	<section id="ob-1">
		<img src="../static/images/piggyback-cartoon-1.png">
	</section>
	<section id="ob-2">
		<img src="../static/images/piggyback-cartoon-2.png">
	</section>
	<section id="ob-3">
		<div id="character-container">
			<img src="../static/images/couch-potato-notes.png" id="couch-potato-img-notes" class="character-notes none">
			<img src="../static/images/hipster-notes.png" id="hipster-img-notes" class="character-notes none">
			<img src="../static/images/hopster-notes.png" id="hopster-img-notes" class="character-notes none">
			<img src="../static/images/yuppie-banker-notes.png" id="yuppie-banker-img-notes" class="character-notes none">
			<img src="../static/images/health-nut-notes.png" id="health-nut-img-notes" class="character-notes none">

			<img src="../static/images/piggyback-couch-potato.png" id="couch-potato-img" class="character-img on-hover">
			<img src="../static/images/piggyback-hipster.png" id="hipster-img" class="character-img on-hover">
			<img src="../static/images/piggyback-hopster.png" id="hopster-img" class="character-img on-hover">
			<img src="../static/images/piggyback-yuppie-banker.png" id="yuppie-banker-img" class="character-img on-hover">
			<img src="../static/images/piggyback-health-nut.png" id="health-nut-img" class="character-img on-hover">
			
		</div>

		<aside>
			<img src="../static/images/piggyback-cartoon-3-text.png">
		</aside>
	</section>
	<section id="ob-4">
		<img src="../static/images/piggyback-cartoon-3.png">
		<aside>
			<img src="../static/images/piggyback-cartoon-4-text.png">
		</aside>
	</section>
	<section id="ob-5">
		<img src="../static/images/piggyback-cartoon-5.png">
		<form id="sign-up" action="http://piggybackv2.herokuapp.com/addEmailListing" method="post">
			<input id="email-input" name="emailAddress" type="text" placeholder="you@coolperson.com">
			<div id="submit-email-button" class="btn btn-primary btn-text">
				Sign me up!
			</div>
		</form>
	</section>
</div>

<div id="next-button">
	Scroll or click here!
</div>