<!DOCTYPE html>
<html>
	<head>
		<title>Piggyback!</title>
		
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.css') }}" >
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='home.css') }}" >
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >

		<script type=text/javascript src="{{ url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='bootstrap.js') }}"></script>
		<script type=text/javascript src="{{ url_for('static', filename='home.js') }}"></script>
	</head>
	<body>
		{% include "header.html" %}
		{% if route == "splash" %}
			{% include "splash.html" %}
		{% elif route == "about" %}
			{% include "about.html" %}
		{% elif route == "team" %}
			{% include "team.html" %}
		{% endif %}
		{% include "footer.html" %}
	</body>
</html>

