

<div id="home">
	<div id="container">
		<div id="main-mask">
			<div id="main" class="carousel slide">
				<div class="active item">
					<img src="../static/images/piggyback-places-notes.png" id="piggyback-places-notes" class="none notes" />
					<img src="../static/images/piggyback-music-notes.png" id="piggyback-music-notes" class="none notes" />
					<img src="../static/images/piggyback-video-notes.png" id="piggyback-video-notes" class="none notes" />
					<img src="../static/images/piggyback-typography-splash-4.png" id="piggyback-typography-splash" />
					<div id="places" class="show-notes">
					</div>
					<div id="music" class="show-notes">
					</div>
					<div id="video" class="show-notes">
					</div>

					<a id="interested-button" class="carousel-control right" href="#main" data-slide="next">
						<div class="btn btn-primary btn-text">
							Sounds awesome! Show me how.
						</div>
					</a>
				</div>
				<div class="item">
					<img src="../static/images/piggyback-typography-splash-next.png" />
					<article>
						<p><b>We're still tinkering around</b> to figure out the easiest and most convenient way for you to find out what your friends are up to.<br/><br/>
						Don't worry, you'll be the first to know when we're ready.</p>
					</article>
					<form action="http://piggybackv2.herokuapp.com/addEmailListing" method="post">
						<input id="email-input" name="emailAddress" type="text" placeholder="you@coolperson.com">
						<div id="submit-email-button" class="btn btn-primary btn-text">
							Let me know!
						</div>
						<div id="form-invalidate-comment">
						</div>
					</form>
				</div>
				<div class="item">
					<img src="../static/images/piggyback-typography-splash-last.png" />
					<article>
						<p><b>We have added you to our mailing list</b> and we pinky promise that we haven't already sold it to some big corporation.<br/><br/>
							Don't be shy&mdash;share with your friends that you were one of the first few to hear about us!
						</p>
						<div id="social-media">
							<div class="fb-like left" data-href="http://www.facebook.com/piggybackapp" data-send="false" data-width="230" data-show-faces="true" data-colorscheme="light" data-action="like" data-font="tahoma">
							</div>
			                <a href="https://twitter.com/share" class="twitter-share-button" data-via="piggyback" data-lang="en" data-count="vertical">Tweet</a>

			                <!-- scripts for the above social media buttons -->
			                <script>
			                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
			                </script>
			                <div id="fb-root"></div>
					        <script>
					          (function(d, s, id) {
					            var js, fjs = d.getElementsByTagName(s)[0];
					            if (d.getElementById(id)) return;
					            js = d.createElement(s); js.id = id;
					            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=251920381531962";
					            fjs.parentNode.insertBefore(js, fjs);
					          }(document, 'script', 'facebook-jssdk')); 
					        </script>
					    </div>
					    <img src="../static/images/piggyback-icon-300.png" id="icon-300" />
					</article>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="footer-link left">
			<a href="http://www.facebook.com/piggybackapp" target="_blank">Facebook</a> &nbsp;&middot;&nbsp;
			<a href="http://twitter.com/piggyback" target="_blank">Twitter</a>
		</div>
	</footer>
</div>
