<div id="team-container">
	<h1>The Piggyback Team</h1>
	<section>
		<img src="../static/images/mikegao-cartoon.png" class="headshot">
		<img src="../static/images/mikegao-real.png" class="real headshot none">
		<article>
			<h2>Michael "Gaotse" Gao</h2>
			<h3><i>iOS Developer</i></h3>
			<p>Mike graduated from UCLA 2010 with a B.S. in Computer Science and Engineering and subsequently worked for Qualcomm in the Android team for a year. He likes listening to music (loves strong vocalists, EDM, and soul),
			playing video games, and instagramming his meals.</p>
		</article>
	</sectioN>
	<section>
		<img src="../static/images/kimhsiao-cartoon.png" class="headshot">
		<img src="../static/images/kimhsiao-real.png" class="real headshot none">
		<article>
			<h2>Kimberly "Golden Hsiaoer" Hsiao</h2>
			<h3><i>iOS Developer</i></h3>
			<p>Kim also graduated from UCLA 2010 with a B.S. in Computer Science. Afterwards, she worked at PwC as a technology consultant and a white-hat hacker. She has an irrational fear of microwaves, dislikes being touched on the face, and has a strange inclination for carrying around a travelocity gnome.</p>
		</article>
	</sectioN>
	<section>
		<img src="../static/images/andyjiang-cartoon.png" class="headshot">
		<img src="../static/images/andyjiang-real.png" class="real headshot none">
		<article>
			<h2>Andy "Red Jiangcake" Jiang</h2>
			<h3><i>Everything Else</i></h3>
			<p>Andy graduated from NYU Stern with a B.S. in Finance, Statistics, and Computer Science. He then worked at Citigroup under the corporate banking group and mastered the art of Excel (ctrl-c, then ctrl-v&mdash;in that order). He likes to lose credit cards at bars, fall asleep in clubs, and
				play covers on his ukulele.</p>
		</article>
	</sectioN>
</div>